@import url('https://fonts.googleapis.com/css2?family=Karantina:wght@300;400;700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Story+Script&display=swap');


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --font__titulos:"Karantina", system-ui ;
  --font__texto:"Story Script", sans-serif;
  --font__label:"Roboto", sans-serif;
}

body {
  background: url(/static/img/bg_inicio.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  color: black;
  overflow-x: hidden;
}

form {
  height: 100dvh;
  display: grid;
  place-content: center;
  place-items: center;
  text-align: center;
  gap: 20px;
  font-family: var(--font__label);
}
form h1 {
  margin: .4em;
  font-family: var(--font__titulos);
  font-size: 3.2rem;
}

form h2 {
  font-weight: 400;
}

.btn__sos {
  text-align: center;
  background-color: rgb(228, 25, 25);
  border: none;
  border-radius: 100%;
  height: 12em;
  width: 12em;
  color: white;
  font-family: var(--font__label);
  font-size: 1.3em;
  box-shadow: 2px 2px 20px 2px black;
  animation: aparecer 6s ease-in-out ;
}

.btn__sos :hover {
  background-color: rgba(228, 25, 25, 0.493);
}

.btn__sos i {
  font-size: 1.52em;
}

.btn__home--link {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #f53b79;
  color: white;
  padding: 10px;
  border-radius: 50%;
  text-decoration: none;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.315);
  transition: background-color 0.3s ease;
  z-index: 1000;  
}

@keyframes aparecer {
  0% {
    opacity: 0;
    background-color: red;
  } 

  20% {
    opacity: 1;
    background-color: red;
  }

  30% {
    opacity: 0.7;
    background-color: red;
  } 

  40% {
    opacity: 1;
  }

  50% {
    opacity: 0.7;
    background-color: red;
  } 

  60% {
    opacity: 1;
  }

  70% {
    opacity: 0.7;
    background-color: red;
  } 

  80% {
    opacity: 1;
  }

  90% {
    opacity: 0.7;
    background-color: red;
  } 

  100% {
    opacity: 1;
  }
  
}
